<!DOCTYPE html>
<html lang="en">
<head>        <!-- Other tags... -->
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
       <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../assets/css/styles.css" rel="stylesheet" />
    <link href="../assets/css/companies.css" rel = "stylesheet"/>
   
</head>
<body>
    <header class="masthead" style="background-color: #093b45; background-blend-mode: lighten; background-size:90% 80%; background-image: url('../assets/img/undraw_career_progress.svg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>companies</h1>
                        <span class="subheading">All about the company right here.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Search Bar -->
<!-- <div class="container px-4 px-lg-5">
    <form id="jobSearchForm">
        <div class="form-group">
            <label for="jobTitle">Job Title:</label>
            <input type="text" placeholder="Search By Job title..."class="form-control" id="jobTitle" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div> -->  
<div class="container px-4 px-lg-5">
    <form id="jobSearchForm" class="search-form">
        <input type="text" placeholder="Search By Job title..." class="search-input" id="jobTitle" required>
        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
    </form>
</div>

  
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div id="blogs">
                </div>
                <div id="post-preview" class="post-preview"></div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Pager-->
                <div id="btns"></div>
            </div>
        </div>
    </div>

    <div id="footer"></div>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="../assets/js/scripts.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="../helpers/axios.js"></script>
      <script src="../assets/js/getAllURLParams.js"></script>
      <script src="../helpers/helper.js"></script>
      <script src="../helpers/companyHelper.js"></script>
       <script>
        $(function(){
            $("#header").load("../public/header.html"); 
            $("#footer").load("../public/footer.html"); 
        });

        $('#jobSearchForm').on('submit', function(e) {
            e.preventDefault();
            var title = $('#jobTitle').val();
            companies.index(title);
        });
    </script>
   
</body>
</html>
